
.icon-github:hover{
	background-image: url('png/github-active.png');
	background-repeat: no-repeat;
}

.icon-github {
	background-image: url('png/github.png');
	background-repeat: no-repeat;
}

.icon-instagram:hover{
	background-image: url('png/instagram-active.png');
	background-repeat: no-repeat;
}

.icon-instagram {
	background-image: url('png/instagram.png');
	background-repeat: no-repeat;
}

.icon-linkedin:hover{
	background-image: url('png/linkedin-active.png');
	background-repeat: no-repeat;
}

.icon-linkedin {
	background-image: url('png/linkedin.png');
	background-repeat: no-repeat;
}

.icon-mail:hover{
	background-image: url('png/mail-active.png');
	background-repeat: no-repeat;
}

.icon-mail {
	background-image: url('png/mail.png');
	background-repeat: no-repeat;
}

.icon-twitter:hover{
	background-image: url('png/twitter-active.png');
	background-repeat: no-repeat;
}

.icon-twitter {
	background-image: url('png/twitter.png');
	background-repeat: no-repeat;
}