
.icon-github:hover{
	opacity:1;
}

.icon-github {
	background-image: url('img/github.png');
	background-repeat: no-repeat;
	opacity:.75;
	transition: opacity .1s ease-in-out;
}

.icon-instagram:hover{
	opacity:1;
}

.icon-instagram {
	background-image: url('img/instagram.png');
	background-repeat: no-repeat;
	opacity:.75;
	transition: opacity .1s ease-in-out;
}

.icon-linkedin:hover{
	opacity:1;
}

.icon-linkedin {
	background-image: url('img/linkedin.png');
	background-repeat: no-repeat;
	opacity:.75;
	transition: opacity .1s ease-in-out;
}

.icon-mail:hover{
	opacity:1;
}

.icon-mail {
	background-image: url('img/mail.png');
	background-repeat: no-repeat;
	opacity:.75;
	transition: opacity .1s ease-in-out;
}

.icon-twitter:hover{
	opacity:1;
}

.icon-twitter {
	background-image: url('img/twitter.png');
	background-repeat: no-repeat;
	opacity:.75;
	transition: opacity .1s ease-in-out;
}