.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio {
  vertical-align: middle;
}

canvas {
  vertical-align: middle;
}

iframe {
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

svg {
  vertical-align: middle;
}

video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.hidden {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  visibility: hidden;
}

.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  *:before {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  *:after {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a {
    text-decoration: underline;
  }
  a:visited {
    text-decoration: underline;
  }

  pre {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  h2 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }

  h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid;
  }

  a[href]:after {
    content: "(" attr(href) ")";
  }

  abbr[title]:after {
    content: "(" attr(title) ")";
  }

  a[href^="#"]:after {
    content: "";
  }

  a[href^="javascript:"]:after {
    content: "";
  }
}
* {
  box-sizing: border-box;
}

html, body, #scroller, section {
  font-family: "Raleway", Verdana, sans-serif;
}

body {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 14px;
}

h1 {
  font-weight: 700;
  font-family: 'Bitter','Garamond', 'Times New Roman', serif;
}

h2 {
  margin-top: -.7em;
  font-weight: 600;
}

section p {
  font-size: 1.2em;
  font-weight: 300;
}
section p a {
  font-family: "Bitter", "Garamond", serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: #222;
}
a:hover {
  text-decoration: underline;
}

#scroller nav {
  display: none;
}

#scroller section {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 2em 1em;
}

#section1 {
  background-color: #74a9cf;
  color: #fff;
}
#section1 h1 {
  margin: 0;
  font-size: 2.9em;
}
#section1 h2 {
  margin-top: -.6em;
  font-size: 1.2em;
}
#section1 .social {
  margin-left: -1em;
  width: calc(100% + 1em);
}
#section1 .socialIcon {
  display: inline-block;
  height: 48px;
  width: 24.1%;
  background-position: 50%;
  text-indent: -9999px;
}

#section2 {
  color: #222;
  height: auto;
}
#section2 h1 {
  margin: 0;
  font-size: 3em;
  color: #0570b0;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent), url("../img/bg.png") repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}
#section2 h2 {
  margin: 0;
  font-size: 1.25em;
}
#section2 p {
  margin-bottom: 0;
}
#section2 .work {
  margin: 2.5em 0;
}
#section2 .libs {
  margin: 0;
}
#section2 .tag {
  margin-bottom: 5px;
  padding: 2px 5px;
  font-size: .9em;
  font-weight: 600;
  background: #f3ede9;
  display: inline-block;
}
#section2 .tag:hover {
  background: #ccb7c0;
  color: #fff;
}
#section2 .gallery {
  margin: 15px auto;
  padding: 15px;
  width: 100%;
  background: #fff;
  height: 360px;
  border: 1px solid #ccc;
  display: block;
}
#section2 .screenshot {
  opacity: .8;
}
#section2 .screenshot:hover {
  opacity: 1;
}

#heyitsthem {
  background: url("../img/heyitsthem-sm.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#charitywarriors {
  background: url("../img/charitywarriors-sm.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#mackenzie {
  background: url("../img/mackenzie-sm.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#bk {
  background: url("../img/bk-sm.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#hospira {
  background: url("../img/hospira.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#lonza {
  background: url("../img/lonza.jpg") center center no-repeat;
  height: 100%;
  background-size: contain;
}

#section3 h1 {
  color: #999;
  margin: 0;
  font-size: 3em;
}

@media screen and (min-width: 321px) {
  html, body, #scroller, section {
    min-height: 100%;
  }

  #scroller nav {
    display: block;
    position: fixed;
    z-index: 9999;
    right: 45px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  #scroller nav a {
    display: block;
    position: relative;
    color: transparent;
    height: 50px;
  }
  #scroller nav a:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 4px solid #fff;
  }
  #scroller nav a:hover:after {
    background: rgba(255, 255, 255, 0.6);
  }
  #scroller nav a.current:after {
    background: #fff;
  }
  #scroller nav a.flip:before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
  #scroller nav a.flip:after {
    border: 4px solid #ccc;
  }
  #scroller nav a.flip:hover:after {
    background: rgba(204, 204, 204, 0.6);
  }
  #scroller nav a.current.flip:after {
    background: #ccc;
  }

  .content {
    margin-right: 60px;
  }

  #section1 .socialIcon {
    width: 48px;
  }

  #section2 .gallery {
    height: 300px;
  }

  #heyitsthem {
    background: url("../img/heyitsthem.jpg") center center no-repeat;
    height: 100%;
    background-size: contain;
  }

  #charitywarriors {
    background: url("../img/charitywarriors.jpg") center center no-repeat;
    height: 100%;
    background-size: contain;
  }

  #mackenzie {
    background: url("../img/mackenzie.jpg") center center no-repeat;
    height: 100%;
    background-size: contain;
  }

  #bk {
    background: url("../img/bk.jpg") center center no-repeat;
    height: 100%;
    background-size: contain;
  }
}
@media screen and (min-width: 569px) {
  html, body, #scroller, section {
    height: 100%;
  }

  #scroller section {
    padding: 3em 0 3em 3em;
  }

  #scroller nav {
    right: 64px;
  }

  p {
    font-size: 1.25em;
  }

  .content {
    margin-right: 100px;
  }

  #section1 h1 {
    font-size: 4.5em;
  }
  #section1 h2 {
    margin-top: -.7em;
    font-size: 1.5em;
  }

  #section2 .gallery {
    height: 420px;
  }

  #section3 h1 {
    font-size: 4.5em;
  }
}
