@import "defaults";

html, body, #scroller, #scroller section{
  height: 100%;
}

#scroller nav{
  position: fixed;
  z-index: 9999;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
  a{
    &:after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid #fff; 
    }
    &:hover:after{
      background: rgba(255,255,255,0.6);
    }
    &.current:after{
      background: #fff;
    }
  }
} 

#scroller section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 800px;
}

#section1{
  background: #f00;
}

#section2{
  background: #0f0;
}

#section3{
  background: #00f;
}

#section4{
  background: #fff;
}