@import "defaults";

@mixin fixed-bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@mixin screenshot {
  height: 100%;
  background-size: contain;
}
@mixin clip-text($img-url, $fallback-color: #000) {
  color: $fallback-color;
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(transparent, transparent),
              url($img-url) repeat;
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
}

* {
  box-sizing: border-box; 
}
html, body, #scroller, section{
  // height: 100%;
  font-family: "Raleway", Verdana, sans-serif;
}
body {
  @include fixed-bg;
  font-size: 14px;
}
h1{ 
  font-weight: 700;
  font-family: 'Bitter','Garamond', 'Times New Roman', serif;
}
h2{
  margin-top: -.7em;
  font-weight: 600;
}
section {
    p {
      font-weight: 300;
      a {
        font-family: "Bitter", "Garamond", serif;
      }
    }
}
a {
  
  text-decoration: none;
  font-weight: 600;
  color: $darkGrey;
  &:hover {
    text-decoration: underline;
  }
}

.content {
  margin-right: 60px;
}

#scroller nav{
  position: fixed;
  z-index: 9999;
  right: 45px;
  top: 50%;
  transform: translateY(-50%);
  a{
    display: block;
    position: relative;
    color: transparent;
    height: 50px;
    &:after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid #fff; 
    }
    &:hover:after{
      background: rgba(255,255,255,0.6);
    }
    &.current:after{
      background: #fff;
    }
    &.flip:after{
      border: 4px solid $lightGrey;
    }
    &.flip:hover:after{
      background: rgba($lightGrey,0.6);
    }
    &.current.flip:after{
      background: $lightGrey;
    }
  }
} 

#scroller section {
  @include fixed-bg;
  position: relative;
  padding: 1em 0 1em 1em;
}

#section1 { 
  background-color: #74a9cf;
  color: #fff;
  h1{ 
    margin: 0;
    font-size: 2.9em;
  }
  h2 {
    margin-top: -.6em;
    font-size: 1.2em;
  }
  p {

  }
  .social {
    margin-left: -1em;
    width: calc(100% + 1em);
  }
  .socialIcon{
    display: inline-block;
    height: 48px;
    width: 24.1%;
    background-position: 50%;
    text-indent: -9999px;
  }
}

#section2 {
  color: $darkGrey;
  height: auto;
  h1 {
    margin: 0;
    font-size: 3em;
    @include clip-text("../img/bg.png", $blue);
  }
  h2 {
    margin: 0;
    font-size: 1.25em;  
  }
  p {
    margin-bottom: 0;
  }
  .work {
    margin: 2.5em 0;
  }
  .libs {
    margin: 0;
  }
  .tag {
    padding: 3px 5px;
    font-size: .9em;
    font-weight: 600;
    background: #f3ede9;
    &:hover {
      background: #ccb7c0;
      color: #fff;
    }
  }
  .gallery {
    margin: 15px auto;
    padding: 15px;
    width: 100%;
    background: #fff;
    height: 420px;
    border: 1px solid $lightGrey;
    display: block;
    // background: #fff;
  }
  .screenshot {
      opacity: .8;
      &:hover {
        opacity: 1;
      }
  }
  #heyitsthem {
    background: url('../img/heyitsthem.jpg') center center no-repeat;
    @include screenshot;
  }
  #charitywarriors {
    background: url('../img/charitywarriors.jpg') center center no-repeat;
    @include screenshot; 
  }
  #mackenzie {
    background: url('../img/mackenzie.jpg') center center no-repeat;
    @include screenshot; 
  }
  #bk {
    background: url('../img/bk.jpg') center center no-repeat;
    @include screenshot; 
  }
  #hospira {
    background: url('../img/hospira.jpg') center center no-repeat;
    @include screenshot; 
  }
  #lonza {
    background: url('../img/lonza.jpg') center center no-repeat;
    @include screenshot; 
  }
}

#section3{
  h1 {
    color: $mediumGrey;
    margin: 0;
    font-size: 3em;
  }
}

@media screen and (min-width: 321px) {
  html, body, #scroller, section{
    min-height: 100%;
  }
  #section1 {

    .socialIcon {
      width: 48px;
    }
  }
}

@media screen and (min-width: 569px){
  html, body, #scroller, section{
    height: 100%;
  }

  #scroller section {
    padding: 3em 0 3em 3em;
  }

  #scroller nav {
    right: 64px;
  }
  p {
    font-size: 1.1em;
  }
  .content {
    margin-right: 100px;
  }
  #section1 {
    h1 {
      font-size: 4.5em;
    }
    h2 {
      margin-top: -.7em;
      font-size: 1.5em;
    }
  }
  #section3 {

    h1 {

      font-size: 4.5em;

      color: $mauve
    }
  }
}
