@import "defaults";

@mixin fixed-bg {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@mixin screenshot {
  height: 100%;
  background-size: contain;
}

* {
  box-sizing: border-box; 
}
html, body, #scroller, section{
  height: 100%;
  font-family: "Raleway", Verdana, sans-serif;
}
body {
  @include fixed-bg;
}
h1{ 
  font-weight: 700;
  font-family: 'Bitter','Garamond', 'Times New Roman', serif;
}
h2{
  margin-top: -.7em;
  font-weight: 600;
}
section {
    p {
      font-weight: 300;
    }
}
a {
  font-family: "Bitter", "Garamond", serif;
  text-decoration: none;
  font-weight: 600;
  color: $darkGrey;
  &:hover {
    text-decoration: underline;
  }
}

.content {
  margin-right: 100px;
}

#scroller nav{
  position: fixed;
  z-index: 9999;
  right: 63px;
  top: 50%;
  transform: translateY(-50%);
  a{
    display: block;
    position: relative;
    color: transparent;
    height: 50px;
    &:after{
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 4px solid #fff; 
    }
    &:hover:after{
      background: rgba(255,255,255,0.6);
    }
    &.current:after{
      background: #fff;
    }
    &.flip:after{
      border: 4px solid $mauve;
    }
    &.flip:hover:after{
      background: rgba($mauve,0.6);
    }
    &.current.flip:after{
      background: $mauve;
    }
  }
} 

#scroller section {
  @include fixed-bg;
  position: relative;
  min-height: 600px;
  padding: 3em 0 3em 3em;
}

#section1 { 
  background-color: #74a9cf;
  color: #fff;
  h1{ 
    margin: 0;
    font-size: 4.5em;
  }
  p {
    font-size: 1.1em;
  }
  .social {
    margin-left: -10px;
  }
  .socialIcon{
    display: inline-block;
    height: 48px;
    width: 48px;
    text-indent: -9999px;
  }
}

#section2 {
  color: $darkGrey;
  height: auto;
  h1 {
    margin: 0;
    font-size: 3em;
  }
  h2 {
    margin: 0;
    font-size: 1.25em;  
  }
  p {
    margin-bottom: 0;
    font-size: .9em;
  }
  .work {
    margin: 2.5em 0;
  }
  .libs {
    margin: 0;
  }
  .tag {
    padding: 3px 5px;
    font-size: .9em;
    font-weight: 600;
    background: #f3ede9;
    &:hover {
      background: #ccb7c0;
      color: #fff;
    }
  }
  .gallery {
    margin: 15px auto;
    padding: 15px;
    width: 100%;
    height: 420px;
    border: 1px solid $lightGrey;
    display: block;
    // background: #fff;
  }
  .screenshot {
      opacity: .8;
      &:hover {
        opacity: 1;
      }
  }
  #heyitsthem {
    background: url('../img/heyitsthem.jpg') center center no-repeat;
    @include screenshot;
  }
  #charitywarriors {
    background: url('../img/charitywarriors.jpg') center center no-repeat;
    @include screenshot; 
  }
  #mackenzie {
    background: url('../img/mackenzie.jpg') center center no-repeat;
    @include screenshot; 
  }
  #bk {
    background: url('../img/bk.jpg') center center no-repeat;
    @include screenshot; 
  }
  #hospira {
    background: url('../img/hospira.jpg') center center no-repeat;
    @include screenshot; 
  }
  #lonza {
    background: url('../img/lonza.jpg') center center no-repeat;
    @include screenshot; 
  }
}

#section3{
  background: $periwinkle;

}

#section4{
  background: $periwinkle;
}